body {
    font-family: Arial, sans-serif;
    background-color: #FAF3DD;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #E0F7FA;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 200px;
}

h1 {
    font-size: 24px;
}

.container button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    text-transform: capitalize;
    background: #008170;
    color: #ddd;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.2s;
}

.container button:hover {
    background: #005B41;
}

input[type="text"] {
    width: 100%;
    padding: 10px 0 10px 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.weather-info {
    margin-top: 20px;
}

/* Github icon */
#ghb {
    position: absolute;
    height: 100px;
    width: 100px;
    left: calc(50% - 50px);
    top: 50px;
    text-align: center;
    line-height: 30px;
    border: 2px solid transparent;
    color: #000000;
    font-size: 99px;
    transition: 0.2s;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(90deg, #FF6B6B, #FFD93D, #6BCB77, #4D96FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}